:root {
  --primary-color: #62a72b;
  --background-color: #fff;
  --secondary-color: rgb(243, 243, 243);
  --main-padding: 15px;
  --border-radius: 8px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

#login-card {
    background-color: #fff;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.089);
    /* padding: 8px; */
}

#login-card img  {
    width: 50vw;
}

#login-detail {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 34px;
    /* align-items: center; */
    /* height: 200px; */
    /* background-color: red; */
}

#login-detail label {
    color: grey ;
    display: inline-block;
    margin-bottom: 8px;
}

#login-detail input {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid rgb(182, 182, 182);
    padding-left: 16px;
    margin-right: 16px;
}

#login-detail form {
    /* border-bottom: 1px solid grey; */
    padding-bottom: 16px;
    margin-bottom: 16px;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    float: right;
}

#signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signup a {
    color: var(--primary-color);
}

/* #login-alt {
    display: flex;
    justify-content: left;
}

input[type="checkbox"] {
    width: 20px;
    background-color: red;
} */