:root {
  --primary-color: #62a72b;
  --background-color: #fff;
  --secondary-color: rgb(243, 243, 243);
  --main-padding: 15px;
  --border-radius: 8px;
}

/* * {
  scrollbar-width: thin; 
  scrollbar-color: #a0a0a0 #f1f1f1; 
} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "urbanist"; */
}

iframe {
    height: 100vh;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    border-right: solid 1px var(--secondary-color);
}

#sidebar nav {
    display: flex;
    flex-direction: column;
}

#sidebar h1 {
    color: var(--primary-color);
    margin: 60px 0 40px 0;
}

#sidebar nav a {
    color: #3d3d41;
    text-decoration: none;
    margin-bottom: 28px;
    padding: 8px;
    border-radius: 5px;
    /* opacity: 70%; */
    width: 80%;
}

#sidebar nav a.selected {
    color: var(--primary-color);
    font-weight: bold;
}

#sidebar nav a:hover{
    /* background-color: rgba(0, 0, 0, 0.082); */
    /* padding-left: 20px; */
    opacity: 70%;
}

/* #i-content {
    width: 100%;
} */

#content {
    width: 94%;
    height: 100vh;
    background-color: var(--background-color);
    padding: 40px;
    overflow: hidden;
    /* background-color: red; */
}

#content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

#content-navigation nav {
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    gap: 28px;
    border-bottom: 1px solid var(--secondary-color);
    /* margin-bottom: 16px; */
}

#content-navigation a {
    color: #3d3d41;
    text-decoration: none;
    font-weight: 700;
}

#content-navigation .active {
    padding-bottom: 8px;
    /* padding-right: 8px; */
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    /* background-color: red; */
}

#welcome h1 {
    margin-bottom: 8px;
}

#welcome p {
    margin: 0;
}

#shop {
    height: 100%;
    flex: 1;
    min-height: 0;
    padding-bottom: 50px;
    padding-right: 8px;
}

#banner {
    width: 100%;
    /* height: 120px; */
    border-radius: 16px;
    margin-top: 4vw;
    background-color: var(--secondary-color)    ;
    position: relative;
    /* overflow: hidden; */
}

#banner > div {
    padding: 5vw 26px 5vw 40px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

#square {
    width: 45vw;
    height: 45vw;
    background-color: var(--primary-color);
    border-radius: 10%;
    position: absolute;
    right: -30px;
    top: -12vw;
    transform: rotate(45deg) ;
    /* transform: translate(-50px, 50px); */
}

#Timage {
    position: absolute;
    transform: rotate(15deg);
    top: -8vw;
    right: 10px;
    width: 35vw;
}

@media screen and (min-width: 1020px) {
  #Timage {
    width: 30vw;
    right: 7vw;
  }
}

#banner h1, p {
    margin: 0 0 8px 0;
}

#filter {
    margin-top: 4vw;
    display: flex;   
    
}

.btn-filter {
    padding: 8px 16px ;
    color: grey;
    border: 1px solid rgb(190, 190, 190);
    margin-right: 16px;
    border-radius: 8px;
}

.btn-filter:hover {
    cursor: pointer;
    /* background-color: rgb(190, 190, 190); */
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    opacity: 70%;
}

.btn-filter:active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-filter.active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

#selected {
    opacity: 100%;
    font-weight: bold;
    /* padding-left: 20px; */
    /* color: var(--primary-color);  */
    /* background-color: var(--primary-color);
    color: var(--background-color); */
}

#product-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 200px;
}

.product {
    min-width: 0;
    background-color: var(--secondary-color);
    border-radius: 12px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    font-size: 12px;
    box-shadow: 0 1px 1px #0000000d;
}

.product p {
    margin: 4px 0;

}

.product-detail {
    margin: 16px;
}

.product-img {
    width: 180px;
}

.btn-chart {
    padding: 2px 8px;
    color: var(--primary-color);
    margin-left: 8px;
    position: relative;
    right: 0;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.btn-share {
    padding: 8px 28px;
    background-color: black;
    color: var(--background-color);
    border-radius: 10px;
    width: fit-content;
}

.btn-share:hover {
    cursor: pointer;
}

.custom-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.custom-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  /* background-color: #eee; */
  border: 1px solid #cecece;
  border-radius: 4px;
}

.custom-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-container input:checked ~ .checkmark {
  animation: pulse 0.3s ease-in-out;
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(0); 
  opacity: 0; 
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46); 
}

.custom-container input:checked ~ .checkmark:after {
  transform: rotate(45deg) scale(1); 
  opacity: 1; 
}

.custom-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #a0a0a0; 
  border-radius: 10px; 
  border: 2px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

#order-container {
    overflow: scroll;
    height: 80vh;
}

.order-card {
    background-color: #f8f8f8;
    margin-top: 20px;
    margin-right: 8px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid rgb(228, 228, 228);    
    box-shadow: 0 1px 1px #0000000d;
    /* align-items: start; */
}

.order {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.order-card h2 {
    margin: 0 0 8px 0 ;
}

.title-quantity {
    margin-left: 8px;
    color: #3d3d41;
}

.title-quantity h2 {
    font-weight: 400;
}

.product-pic {
    width: 100px;
    height: 100px;
    /* background-color: blue; */
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid rgb(199, 199, 199);
}

.left-order {
    display: flex;

}

.order-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-top: 16px;
}

.btn-nilai {
    color: #fff;
    background-color: var(--primary-color);
}

.btn-beli-lagi {
    color: #64646d;
    border: 1px solid rgb(224, 224, 224);
}

.btn-order {
    cursor: pointer;
    margin-left: 8px;
    padding: 8px 28px;
    border-radius: 4px;
}

.order-detail {
    color: grey;
}

.order-info {
    /* margin-bottom: 14px; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #e4e4e4;
}

.ingfo{
    color: var(--primary-color);
    font-weight: 600;
}

.order-tag {
    color: grey;
}

.order-btn-container {
    display: flex;
    flex-direction: row;
}

.total {
    margin-top: 16px;
    margin-bottom: 26px;
    color: grey;   
    display: flex;
    align-items: center;
}

.total-number {
    color: var(--primary-color);
    font-size: 26px;
    margin-left: 8px;
}

#cart-header {
    border-bottom: 1px solid rgb(212, 212, 212);
}

#cart-item-container {
    background-color: rgb(247, 247, 247);
    margin-top: 16px;
    padding: 26px 16px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 1px 1px #0000000d;
    border-radius: 8px;
}

#cart-item-container table {
    width: 100%;
}

#cart-item-container input[type="number"] {
    padding: 4px 8px;
    width: 80px;
}

th {
    text-align: start;
}

.product-detail-container {
    margin-top: 28px;
    display: flex;
    gap: 8px;
}
/* #cart-item-head {
    display: flex;
    justify-content: space-between;
} */

/* #cart-item-detail {
    display: flex;
}

#cart-item-detail > div {
    width: 140px;
} */