body {
    margin: 0;
    padding: 0;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 20%;
    height: 100%;
    /* background-color: blue; */

}

#content {
    width: 80%;
    height: 100%;
    background-color: grey;
    /* background-color: red; */
}